@model SneakerStore.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutLogIn_Register.cshtml";
}


<style>
    .field-validation-error {
        color: red;
    }

    body {
        margin: 0;
    }

    #div-thongTin {
        height: 100%;
        width: 400px;
        margin: 40px auto;
        box-shadow: 0 0 5px 1px #212121;
        text-align: center;
        border-radius: 5px;
        background-color: white;
    }

    .id {
        height: 40px;
        width: 340px;
        margin-top: 25px;
    }

    h1 {
        padding-top: 25px;
        padding-left: 30px;
        font-size: 25px;
        font-weight: 100;
        text-align: left;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 17px;
        font-family: 'Times New Roman';
    }

    #return {
        width: 340px;
        height: 40px;
        background-color: #ee4d2d;
        text-align: center;
        font-size: 20px;
        border-radius: 2px;
        cursor: pointer;
        border: 0;
        color: white;
    }

    #div-return {
        text-align: center;
        margin-top: 0 10px;
    }

    #checkbox {
        display: inline-block;
        font-size: 15px;
    }

    .name, .pass, .phone, .email {
        height: 40px;
        width: 340px;
        margin: 5px;
    }

    .link {
        color: #ee5d61;
        text-decoration: none;
    }

        .link:hover {
            color: #ee5d61;
            text-decoration: none;
        }

</style>

@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div id="div-thongTin">
    <h1>Đăng kí tài khoản</h1>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>@Html.EditorFor(model => model.NameCus, new { htmlAttributes = new { placeholder = "Tên tài khoản ...", @class = "name" } })</p>
    <p>@Html.ValidationMessageFor(model => model.NameCus) </p>

    <p>@Html.EditorFor(model => model.PhoneCus, new { htmlAttributes = new { placeholder = "Số điện thoại ...", @class = "phone" } })</p>
    <p>@Html.ValidationMessageFor(model => model.PhoneCus) </p>

    <p>@Html.EditorFor(model => model.EmailCus, new { htmlAttributes = new { placeholder = "Email ...", @class = "email" } })</p>
    <p>@Html.ValidationMessageFor(model => model.EmailCus) </p>

    <p>@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Tên đăng nhập ...", @class = "name" } })</p>
    <p>@Html.ValidationMessageFor(model => model.UserName) </p>

    <p>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Mật khẩu ...", @class = "pass" } })</p>
    <p>@Html.ValidationMessageFor(model => model.Password) </p>

    <p>@Html.EditorFor(model => model.ConfirmPass, new { htmlAttributes = new { placeholder = "Xác nhận mật khẩu ...", @class = "pass" } })</p>
    <p>@Html.ValidationMessageFor(model => model.ConfirmPass) </p>

    <div id="div-return">
        <input type="submit" value="Đăng kí" id="return" />
    </div>

    <p style="margin-top:10px;">Bạn đã có tài khoản? @Html.ActionLink("Đăng nhập", "LoginCus", "Customers", new { @class = "link" })</p>
</div>
}

