@model SneakerStore.Models.Category
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Thông tin</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDCate}) |
    @Html.ActionLink("Quay lại", "Index")
</p>
